################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QuikSharp/obj
/RuBot/obj
/RuBot/bin/Debug/net7.0-windows/RuBot.pdb
/RuBot/bin/Debug/net7.0-windows/RuBot.dll.config
/RuBot/bin/Debug/net7.0-windows/RuBot.dll
